<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emoji Engine</title>
    <script src="{{ js_url }}"></script>
</head>
<body>
    <h1>Your Emoji!</h1>
    <p>{{ emoji }}</p>

    <form id="start-form">
        <label for="word">Word</label>
        <input id="word" type="text">
        <label for="start">start</label>
        <input id="start" type="text">
        <button id="form-submit"> See if your word starts with the start.</button>
    </form>

    <h3 id="result"></h3>

    <button id="recommend-photo">Get a Recommended Photo</button>
    <img id="recommended-photo" src="" alt="">

    <h2>{{ counter }} people have visitied this site!</h2>
</body>
</html>
