 {%  extends "base.jinja2" %}
 {% block title %} Home {{ input }} {% endblock %}
 {%  block body %} 
<div class="container"> 
<h3>Home</h3>
<br />
Name : {{ input }}
Message:  {{ message }} 
</div>

{% endblock %}