{%  extends "base.jinja2" %}
{% block title %} Home Input: {{ input }} {% endblock %}
{%  block body %} 

<h3> Landing Page - TMM - Flask Demo<h3>
<h4>Input</h4>

Name: {{ input }}
Message:  {{ message }} 
{% endblock %}
