<div class="card" ng-hide="edit" ng-click="edit=true">
    <h4>{{ card.title }}</h4>
    <span class="description">{{ card.description }}</span>
    Points: {{ card.story_points }}, value: {{ card.business_value }}
</div>

<div class="card" ng-show="edit"
     ng-model-options="modelOptions">
    <div class="flex">
        <label><strong>Title:&nbsp;</strong></label>
        <input type="text"
               ng-model="card.title"
               ng-change="update()"/>
    </div>
    <textarea ng-model="card.description"
              ng-change="update()"
              placeholder="Enter description.."></textarea>

    <div>
        <label>List: </label>
        <select ng-options="list as list.name for list in data"
                ng-model="destList"></select>
        <button ng-click="move()">Move</button>
    </div>

    <hr class="clear">

    <button ng-click="edit=false">Close</button>
    <button ng-click="delete()">Delete Card</button>

    <span class="clear">&nbsp</span>
</div>
