
  <footer class="footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a target="_blank" rel="noopener noreferrer"
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
               Django Material PRO
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy; <a class="text-white" 
                  target="_blank" rel="noopener noreferrer" 
                  href="https://bit.ly/3fKQZaL">Creative-Tim</a> 
        - Coded by <a class="text-white" target="_blank" 
                      rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>.
      </div>
    </div>
  </footer>
