{%  extends "base.jinja2" %}
{% block title %} Home {{ input }} {% endblock %}
{%  block body %} 
<div class="container"> 
<h3>404</h3>
<br />
Unsuccessful Submission!
Please try again ...
</div>

{% endblock %}