{% extends "layouts/base.html" %}

{% block title %} Maps Vector {% endblock title %}

{% block content %}

  <div class="header text-center">
    <h3 class="title">World Map</h3>
    <p class="category">Looks great on any resolution. Made by our friends from
      <a target="_blank" href="http://jvectormap.com/">jVector Map</a>.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-body ">
          <div id="worldMap" class="map map-big"></div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}

{% block javascripts %}

  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="/static/assets/js/plugins/jquery-jvectormap.js"></script>
  <script>
    $(document).ready(function() {
      md.initVectorMap();
    });
  </script>
  
{% endblock javascripts %}
