{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 404 {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="page-header error-page header-filter" style="background-image: url('/static/assets/img/clint-mckoy.jpg')">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="content-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title">404</h1>
          <h2>Page not found :(</h2>
          <h4>Ooooups! Looks like you got lost.</h4>
        </div>
      </div>
    </div>

    {% include 'includes/footer-auth.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      md.checkFullPageBackgroundImage();
    });
  </script>

{% endblock javascripts %}
