{% extends "layouts/base-auth.html" %}

{% block title %} Lock {% endblock title %}

{% block content %}

    <div class="page-header lock-page header-filter" style="background-image: url('/static/assets/img/lock.jpg')">
      <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-profile text-center card-hidden">
              <div class="card-header ">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/avatar.jpg">
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <h4 class="card-title">Tania Andrew</h4>
                <div class="form-group">
                  <label for="exampleInput1" class="bmd-label-floating">Enter Password</label>
                  <input type="password" class="form-control" id="exampleInput1">
                </div>
              </div>
              <div class="card-footer justify-content-center">
                <a href="/" class="btn btn-rose btn-round">Unlock</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'includes/footer-auth.html' %}

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}    

  <script>
    $(document).ready(function() {
      md.checkFullPageBackgroundImage();
      setTimeout(function() {
        // after 1000 ms we add the class animated to the login/register card
        $('.card').removeClass('card-hidden');
      }, 700);
    });
  </script>

{% endblock javascripts %}
