{% extends "layouts/base.html" %}

{% block title %} RTL Page {% endblock title %}

<!-- Enable RTL support -->
{% block body_class %} rtl {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header card-header-text card-header-warning">
          <div class="card-text">
            <h4 class="card-title">لتكاليف يبق</h4>
            <p class="card-category">بالإنزال وفي. خيار ومضى العمليات تم ذلك, تم معقل مرمى</p>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <th>وتم</th>
              <th>لأمريكية هذا</th>
              <th>شاسعالأمريكية</th>
              <th>الأمريكية </th>
            </thead>
            <tbody>
              <tr>
                <td>وا حد</td>
                <td>السبب وفرنسا الصينية </td>
                <td>$36,738</td>
                <td>تكاليف</td>
              </tr>
              <tr>
                <td>إثنان</td>
                <td>بمباركة بها </td>
                <td>$23,789</td>
                <td>الأمريكية من</td>
              </tr>
              <tr>
                <td>ثلاثة</td>
                <td> شاسعالأمريكية </td>
                <td>$56,142</td>
                <td>السفن وعُرفت</td>
              </tr>
              <tr>
                <td>أربعة</td>
                <td> الاندونيسية</td>
                <td>$38,735</td>
                <td> فصل.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-rose">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">منتصف:</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item active">
                  <a class="nav-link active" href="#profile" data-toggle="tab">
                    <i class="material-icons">bug_report</i> ضرب
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#messages" data-toggle="tab">
                    <i class="material-icons">code</i> السفن
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-toggle="tab">
                    <i class="material-icons">cloud</i> فصل.
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td> فقد لمحاكم الاندونيسية, بلاده بالتوقيع تم يبق. جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>بحث. كل مما ٢٠٠٤ شاسعة العسكري جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td> تسبب أفريقيا ضرب عن, عن إنطلاق جعل السبب وفرنسا الصينية أي.
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="messages">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="settings">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-lg-6">
        <div class="card card-pricing card-raised">
          <div class="card-body">
            <h6 class="card-category">جيوب سليمان، الإنزال</h6>
            <div class="card-icon icon-rose">
              <i class="material-icons">home</i>
            </div>
            <h3 class="card-title">$29</h3>
            <p class="card-description">
              الأجل المتساقطة، من. عرض بسبب وأكثرها الاندونيسية بـ.
            </p>
            <a href="#pablo" class="btn btn-rose btn-round">حاملات فعل</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <h6 class="card-category">المتحدة لتقليعة</h6>
            <div class="card-icon">
              <i class="material-icons">weekend</i>
            </div>
            <h3 class="card-title">قائمة</h3>
            <p class="card-description">
              الأجل المتساقطة، من. عرض بسبب وأكثرها الاندونيسية بـ.
            </p>
            <a href="#pablo" class="btn btn-white btn-round">حاملات فعل</a>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="card card-testimonial">
          <div class="icon">
            <i class="material-icons">format_quote</i>
          </div>
          <div class="card-body">
            <h5 class="card-description">
              بعد و وسوء الأحمر, دون عقبت الهادي أم, قد حول قادة حكومة يتعلّق. أخذ حصدت اوروبا أن, كلا مهمّات اسبوعين التخطيط عل. وإيطالي الأوروبي و نفس. صفحة احداث أضف ان, هو مرجع نهاية لهيمنة كما. تم مايو لفشل المدن دول, جعل أن عسكرياً التّحول استرجاع.
            </h5>
          </div>
          <div class="card-footer">
            <h4 class="card-title">أليك طومسون</h4>
            <h6 class="card-category">@أليك طومسون</h6>
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="/static/assets/img/faces/card-profile1-square.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="badge badge-pill badge-danger">جهة أي</span>
            </div>
            <div class="timeline-body">
              <p>قام كل ماذا العصبة اوروبا. أي جورج العالمي أخر, كان تم أطراف القوى استبدال. أسر ميناء تكتيكاً الجديدة، كل. جُل اللا التكاليف بـ, عرفها النزاع لليابان بـ أضف. انتهت المدن الثالث من وقد.وقبل قادة إحتار عن أخر. حين ونتج أخرى قد. بالعمل بالمطالبة فقد قد. عن جنوب ومضى الشتاء.</p>
            </div>
            <h6>
              <i class="ti-time"></i> مدن أن هُزم سكان, مكن.
            </h6>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success">
            <i class="material-icons">extension</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="badge badge-pill badge-success">جُل حكومة</span>
            </div>
            <div class="timeline-body">
              <p>عل فكانت الثقيلة بلا. شيء بخطوط بالرّغم التبرعات عن, يطول بأيدي لم كلّ. معقل الغالي واتّجه لم وتم, أن الصفحة بالمحور حول, بال مرمى الصفحات قُدُماً و. الأخذ سبتمبر العالم من ذلك. ان يبق شدّت الأبرياء, الى الربيع، والمانيا كل. ودول الأهداف التقليدي عل أضف, كلا يقوم الأخذ الآلاف بل.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="badge badge-pill badge-info">هذا غينيا</span>
            </div>
            <div class="timeline-body">
              <p>جهة المارق والديون التقليدية في, هو وترك المجتمع بريطانيا ذلك, لمّ ما العالم، اليابان،. ٣٠ فقامت أوروبا مشاركة بعد, ٢٠٠٤ الجو مساعدة ما حدى. في عليها وبحلول معارضة بعض. عن الأرض وبداية العمليات ولم. الجو جديداً الأوروبيّون أم به،. ثم التي نتيجة الآلاف جعل, عن المارق السادس قام. ما أخر فقامت الأجل الشرق،, فصل كل وسوء الأرواح. ثم بعد وشعار بأيدي. قبل وكسبت الغالي الولايات بل, ٣٠ أمّا أخرى لأداء أضف. هو منتصف معزّزة على. بـ أفريقيا التغييرات مما, أثره،.
                <hr>
                <div class="dropdown pull-left">
                  <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">build</i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                      <a href="#action">ان</a>
                    </li>
                    <li>
                      <a href="#action">إجلاء لفرنسا</a>
                    </li>
                    <li>
                      <a href="#here">أواخر الأرض بل</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#link">عل اليها</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}

  <script>
    $(document).ready(function() {
      md.checkFullPageBackgroundImage();
    });
  </script>

{% endblock javascripts %}
