{{#extend "layout"}}
    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="component_bootstrap"}}
    {{/replace}}
    {{#replace "app_content"}}
        <ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li class="active">Bootstrap Components</li>
        </ol>
        <h2 class="page-title">Components -  <span class="fw-semi-bold">Bootstrap</span> <small>Built-in components</small></h2>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>Hello, world!</h1>
                            <p class="lead"><em>Amazing</em> content</p>
                            <p>
                                <a class="btn btn-danger btn-lg">
                                    Join now! &nbsp;
                                    <i class="fa fa-check"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right pull-right"></i>
                            <span class="badge badge-success">14</span>
                            <i class="fa fa-envelope-o"></i>&nbsp;
                            Inbox
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right pull-right"></i>
                            <span class="badge badge-danger">2</span>
                            <i class="fa fa-eye"></i>&nbsp;
                            Visits
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right pull-right"></i>
                            <span class="badge badge-default">12</span>
                            <i class="fa fa-phone"></i>&nbsp;
                            Incoming calls
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right pull-right"></i>
                            <span class="badge badge-info">20</span>
                            <i class="fa fa-bell"></i>&nbsp;
                            Notifications
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right pull-right"></i>
                            <span class="badge badge-warning">7</span>
                            <i class="fa fa-comments"></i>&nbsp;
                            Messages
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div id="carousel-example-generic" class="carousel slide">
                        <ol class="carousel-indicators outer">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner text-align-center">
                            <div class="item active">
                                <h4 class="no-margin"><em>Bootstrap 3</em></h4>
                                <p><small>Built-in Twitter Bootstrap 3 support</small></p>
                            </div>
                            <div class="item">
                                <h4 class="no-margin"><em>Developer-friendly</em></h4>
                                <p><small>Simple & intuitive code</small></p>
                            </div>
                            <div class="item">
                                <h4 class="no-margin"><em>Sass-powered</em></h4>
                                <p><small>Light Blue is really easy to customize</small></p>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="widget text-align-center">
                    <p>
                        <span class="label label-default">Default</span>
                        <span class="label label-primary">Primary</span>
                        <span class="label label-success">Success</span>
                        <span class="label label-info">Info</span>
                        <span class="label label-warning">Warning</span>
                        <span class="label label-danger">Danger</span>
                    </p>
                    <p class="no-margin">
                        <span class="badge badge-default">20</span>
                        <span class="badge badge-primary">30</span>
                        <span class="badge badge-success">40</span>
                        <span class="badge badge-info">50</span>
                        <span class="badge badge-warning">60</span>
                        <span class="badge badge-danger">70</span>
                    </p>
                </div>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="fa fa-ban"></i> <strong>Oh snap! You got an error!</strong></h4>
                    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p>
                        <a class="btn btn-inverse btn-sm" href="#">Take this action</a>
                    </p>
                </div>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-check"></i> Well done!</strong> You successfully read this important alert message.
                </div>
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-info-circle"></i> Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-bell-o"></i> Warning!</strong> Best check yo self, you're not looking too good.
                </div>
            </div>
        </div>
    {{/replace}}

    {{#append "scripts"}}
        
    {{/append}}
{{/extend}}