{% extends "layouts/base-auth.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/static/assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

          <form role="form" method="post" action="">

            {% csrf_token %}
    
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">
                  Login
                </h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">
    
                  {% if msg %}
                    {{ msg | safe }}
                  {% else %}
                    <span>
                      Add your credentials
                    </span>
                  {% endif %}
                    
                </p>
    
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    {{ form.username }}
                  </div>
                </span>
    
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    {{ form.password }}
                  </div>
                </span>
    
    
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" name="login" class="btn btn-primary my-4">Login</button>
              </div>
    
              <div class="form-check text-center">
                <label class="form-check-label">
                  <a target="_blank" rel="noopener noreferrer" 
                     href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">Django Dashboard Material PRO</a>
                </label>
              </div>
    
              <br />
    
            </div>
          </form>

        </div>
      </div>
    </div>

    {% include 'includes/footer-auth.html' %}

  </div>

{% endblock content %}

{% block javascripts %}

  <script>
    $(document).ready(function() {
      md.checkFullPageBackgroundImage();
      setTimeout(function() {
        // after 1000 ms we add the class animated to the login/register card
        $('.card').removeClass('card-hidden');
      }, 700);
    });
  </script>

{% endblock javascripts %}
