{% extends "layouts/base.html" %}

{% block title %} Maps Vector {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="text-center">
              World Map
              <br>
              <small>
                Looks great on any resolution. Made by our friends from
                <a target="_blank" href="http://jvectormap.com/">jVector Map</a>.
              </small>
            </h4>
            <br>
          </div>
          <div class="card-body">
            <div id="worldMap" class="map map-big"></div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        demo.initVectorMap();
    });
</script>

{% endblock javascripts %}
