{% extends "layouts/base-fullscreen.html" %}

{% block title %} Lock {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block bodyclass %}login{% endblock %}

{% block content %}

  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-lock card-white text-center">
      <div class="card-header">
        <img src="/static/assets/img/emilyz.jpg" alt="...">
      </div>
      <div class="card-body">
        <h4 class="card-title">Joe Gardner</h4>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-key-25"></i>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="card-footer">
        <a href="javascript:void(0)" class="btn btn-primary btn-round btn-lg">Unlock</a>
      </div>
    </div>
  </div>
      
{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
