 {%  extends "base.jinja2" %}
 {% block title %} Bitcoinist Console {{ input }} {% endblock %}
 {%  block body %} 
<div class="container">  
<h3>Console Messages</h3>
<br />
Name : {{ input }}
Message:  {{ message }} 
</div>

{% endblock %}